html{
    height: 100%;
}

body{
    background-image: url('./images/FondEcran.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

img{
    width: 80px;
    height: 75px;
    border: 1px solid black;
    margin: 5px;
}
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}
#game{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
h1, h2{
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
}

p{
    color: white;
}

.ScoreFinal{
    text-align: center;
    position: absolute;
    top: 30%;
    height: 50px;
}

.ReplayButton{
    height: 30px;
    position: relative;
    top: 50%;
}